.create-accelerators {
  max-width: 480px;
  width: 100%;

  input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #cbd2db;
    border-radius: 4px;
    padding: 12px 40px 12px 12px;
  }

  .dropdown {
    &__select {
      width: 100%;
    }
  }

  .accelerators-create-subtitle {
    color: $link-text;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
  }

  textarea {
    resize: none;
    background: $white;
    border: 1px solid $border;
    border-radius: 4px;
    max-width: 480px;
    height: 132px;
    width: 100%;
    color: $black-gray;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 146.023%;

    &::placeholder {
      color: $black-gray;
    }
  }

  .create-accelerator {
    margin-bottom: 45px;
  }

  .field-description__item {
    margin-bottom: 11px;
  }

  .control-points {
    &.control-point:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  .control-point-end-line {
    border-radius: 2px;
    background: #EBEEF2;
    height: 5px;
    width: 100%;
    margin-bottom: 23px;
  }

  .control-point__item {
    position: relative;
  }

  .control-point__title {
    width: 100%;
    border-radius: 4px;
    background: $card-tags-bg;
    color: $table-title-item;
    font-size: 12px;
    font-weight: 500;
    line-height: 106.9%;
    letter-spacing: 0.3px;
    text-transform: uppercase;
    padding: 14px 0 14px 12px;
    margin-bottom: 11px;
  }

  .control-point-delete {
    position: absolute;
    top: 9px;
    right: 9px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    p {
      color: $black-gray;
      font-size: 13px;
      font-weight: 500;
      line-height: normal;
    }
  }

  .add-point {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 33px;

    p {
      color: $black-gray;
      font-size: 14px;
      font-weight: 500;
      line-height: normal;
    }
  }

  .add-point-buttons {
    display: flex;
    gap: 44px;
    align-items: center;

    .button {
      width: 186px;
      height: 56px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.00) 55.19%), #1B1BBB;
      font-size: 16px;
      font-weight: 700;
      line-height: 146.023%;
    }
    .button-back{
      color: $black-gray;
      font-size: 16px;
      font-weight: 500;
      line-height: 146.023%;
    }
  }
}
