.role-page {
  .content-success-case {
    .table {
      max-width: 1480px;

      &__title {
        justify-content: flex-start;

        @media screen and (max-width: 1200px) {
          display: none;
        }

        &-accelerator-title {
          max-width: 248px;
          width: 100%;
        }

        &-case-title {
          max-width: 185px;
          width: 100%;
        }

        &-case-description {
          max-width: 325px;
          width: 100%;
        }

        &-score-point {
          max-width: 228px;
          width: 100%;
        }

        &-files {
          max-width: 182px;
          width: 100%;
        }

        &-score-expert {
          max-width: 140px;
          width: 100%;
        }
      }

      &__body {
        &-item {
          justify-content: flex-start;
          align-items: flex-start;

          @media screen and (max-width: 1200px) {
            border-radius: 4px;
            border: 1px solid $border;

            &:not(:last-child) {
              margin-bottom: 20px;
            }
          }

          a,
          p {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $link-text;

            @media screen and (max-width: 1200px) {
              font-size: 14px;
            }
          }

          &-accelerator-title {
            max-width: 248px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
            }

            p {
              font-weight: 500;

              @media screen and (max-width: 1200px) {
                font-size: 16px;
                font-weight: 600;
                padding: 10px;
                background: $card-tags-bg;
              }
            }
          }

          &-case-title {
            max-width: 185px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
              padding-left: 10px;
              order: 1;
            }

            &-hidden {
              display: none;
  
              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
              }
            }
          }

          &-case-description {
            max-width: 325px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
              padding-left: 10px;
              order: 2;
            }

            &-hidden {
              display: none;

              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
              }
            }

            p {
              max-width: 284px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &-score-point {
            max-width: 228px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
              padding-left: 10px;
              order: 4;
            }

            &-hidden {
              display: none;

              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
              }
            }
          }

          &-files {
            max-width: 182px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
              padding-left: 10px;
              order: 3;
            }

            &-hidden {
              display: none;

              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
              }
            }

            a {
              color: $blue-link;
            }
          }

          &-score-expert {
            max-width: 140px;
            width: 100%;

            @media screen and (max-width: 1200px) {
              max-width: 100%;
              padding-left: 10px;
              order: 4;
            }

            &-hidden {
              display: none;

              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
              }
            }
          }

          &-score-post {
            margin-top: -4px;

            @media screen and (max-width: 1200px) {
              width: 100%;
              max-width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              border-top: 1px solid $border;
              margin-top: 15px;
              order: 6;
            }


            a {
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 5px;

              p {
                color: $blue-link;
              }
            }
          }

          &-show {
            display: none;
  
            @media screen and (max-width: 1200px) {
              width: 100%;
              max-width: 100%;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              border-top: 1px solid $border;
              padding-left: 10px;
              order: 7;
            }
  
            p {
              font-size: 13px;
              font-weight: 500;
              text-transform: uppercase;
              margin-right: 4px;
              color: $blue-link;
            }
          }
        }
      }
    }
  }
}
