.role-page {
  display: flex;

  .page__wrapper {
    width: 100%;
  }

  .content {
    padding: 10px 40px 60px 38px;
    height: auto;

    @media screen and (max-width: 1800px) {
      max-width: 1188px;
      padding: 10px 15px 40px 15px;
      //padding: 0 15px 40px 15px;
      margin: 0 auto;
    }

    @media screen and (max-width: 1200px) {
      max-width: 770px;
      margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
      padding: 9px 15px 40px 15px;
      //padding: 0 15px 40px 15px;
      max-width: 380px;
    }

    &__top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      margin-right: 10px;
      max-width: 1480px;

      @media screen and (max-width: 800px) {
        margin-bottom: 20px;
        margin-right: 0;
        flex-direction: column;
      }

      h1 {
        font-weight: 700;
        font-size: 34px;
        line-height: 41px;
        color: $link-text;

        @media screen and (max-width: 800px) {
          font-size: 24px;
          line-height: 31px;
          width: 100%;
          text-align: left;
        }
      }
    }

    &__line {
      background: $pagination-border;
      height: 1px;
      width: 100%;
      margin-bottom: 30px;
    }

  }
}

.content-create-form {
  @media screen and (max-width: 1800px) {
   max-width: 480px !important;
   margin-left: auto !important;
   margin-right: auto !important;
  }
}

.moderator-main-title, .student-main-title {
  @media screen and (max-width: 800px) {
    margin-top: 30px;
    margin-bottom: 20px;
   }
}

.administrator-bank-projects-container {
  @media screen and (max-width: 1800px) {
    max-width: 1186px !important;
    margin: 0 auto;
  }

  @media screen and (max-width: 1200px) {
    max-width: 770px !important;
  }

  @media screen and (max-width: 800px) {
    max-width: 375px !important;
  }
}

//.content-module-management, .content-roles {
//  .administrator-tabs {
//    @media screen and (max-width: 800px) {
//      max-width: 345px !important;
//      overflow: auto;
//    }
//  }
//}