.role-page{
  .content-personal-data {
    margin: 0 auto;

    @media screen and (max-width: 1800px){
      //max-width: 1440px;
      margin: 0 auto;
      padding: 10px 15px 60px 15px;
    }

    @media screen and (max-width: 1200px) {
      max-width: 770px;
    }

    @media screen and (max-width: 800px) {
      max-width: 375px;
    }

    .breadcrumb {
      padding-left: 0;
    }

    .content__top {
      margin-bottom: 11px;
    }
  }
}


