$white: #ffffff;
$blue: #1e44bb;
$grey: #f7f7f7;
$black-gray: #323232;
$dark-blue: #4f55bd;
$dark-gray: #eceef7;
$dark: #3b4559;
$purple: #5d3097;
$link-text: #2C3637;
$light: #f3f4f8;
$border: #cbd2db;
$pagination-border: #D3D8EA;
$pagination-active: #E3E7F8;
$select-bg: #F2F2F2;
$select-text: #777777;
$side-menu-bg: #1A1A54;
$side-menu-color: #bbbbcb;
$card-tags-bg: #EBEEF2;
$card-status-bg: #E2F5EE;