$white: #ffffff;
$blue: #1e44bb;
$blue-link: #0B16CC;
$grey: #f7f7f7;
$black-gray: #323232;
$dark-blue: #4f55bd;
$dark-gray: #eceef7;
$dark: #3b4559;
$purple: #5d3097;
$link-text: #2C3637;
$light: #f3f4f8;
$border: #cbd2db;
$pagination-border: #D3D8EA;
$pagination-active: #E3E7F8;
$select-bg: #F2F2F2;
$select-text: #777777;
$side-menu-bg: #1A1A54;
$side-menu-color: #bbbbcb;
$card-tags-bg: #EBEEF2;
$card-status-bg: #E2F5EE;
$card-status-bg-revision: #FFFBEF;
$card-status-bg-rejected: #FFECEC;
$table-title-item: #6D7A86;
$table-gray-text: #7C7C7C;
$tabs-gray-text: #858F99;
$tabs-active-bg: #1B1BBB;
$drag-field-border: #EBECED;
$drag-field-bg: #EEE;
$add-role-user-bg: #D6DEFE;
$add-role-user-text: #4A5064;
$red: #FF0000;
$input-error: #fff8f8;
$hover-input: #0C1498;
$active-pagination: #101096;
$hover-pagination: #3741ED;
$hover-arrow: #626262;
$selected-hover: #f5f6f6;
$tags-hover: #BDCBDD;
$show-more-btn: #6B6BF9;
$dropdown-mobile-text: #3D5F8C;
$dropdown-mobile: #DBEAFE;
$tabs-active: #DEE1E9;
$calendar-year: #0B1218;
$calendar-week: #8f9295;
$calendar-gray: #D8D9DA;
$checkbox-blue: #3E80FF;