$white: #ffffff;
$blue: #1e44bb;
$grey: #f7f7f7;
$black-gray: #323232;
$dark-blue: #4f55bd;
$dark-gray: #eceef7;
$dark: #3b4559;
$purple: #5d3097;
$link-text: #2C3637;
$light: #f3f4f8; 
$border: #cbd2db;