.page__wrapper {
  position: relative;

  .breadcrumb {
    z-index: 2;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 4px;
    position: absolute;
    top: 100px;
    left: 38px;

    &__item, a {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $select-text;
    }
  }
}

