.page__wrapper {
  position: relative;

  .breadcrumb {
    z-index: 2;
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 4px;
    padding: 10px 20px 0px 10px;

    @media screen and (max-width: 1800px) {
      max-width: 1140px;
      margin: 0 auto;
    }

    @media screen and (max-width: 1200px) {
      max-width: 770px;
      margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
      max-width: 375px;
    }

    &__item, a {
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      color: $select-text;
    }
  }
}

