.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 146.02%;
  text-align: center;
  color: $white;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 55.19%), #1b1bbb;
  border-radius: 4px;
  //padding: 15px 30px;
}

.button-login {
  width: 164px;
  height: 56px;
}

.button-register {
  width: 173px;
  height: 56px;

  @media screen and (max-width: 375px) {
    margin-bottom: 50px;
  }
}

.button-restore {
  width: 265px;
  height: 56px;
  margin-bottom: 15px;
}

.button-accelerator {
  width: 222px;
  height: 44px;
}

