.button-login {
  width: 164px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-register {
  width: 173px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: 375px) {
    margin-bottom: 50px;
  }
}

.button-restore {
  width: 265px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.button {
  display: flex;
  font-family: "Montserrat";
  font-size: 16px;
  font-weight: 700;
  line-height: 146.02%;
  text-align: center;
  color: $white;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 55.19%), #1b1bbb;
  border-radius: 4px;
}
