.button-login {
  width: 164px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-register {
  width: 173px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  display: flex;
  font-family: "Montserrat";
  font-weight: 700;
  line-height: 146.02%;
  text-align: center;
  color: #ffffff;
  border: none;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 55.19%), #1b1bbb;
  border-radius: 4px;
}
