.content {
  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 26px;
    max-width: 1480px;
  }

  &__card {
    width: 355px;
    height: 346px;
    cursor: pointer;

    &:hover {
      .content__card-title {
        color: $blue-link;
      }
    }
  }

  &__card-image {
    width: 355px;
    height: 240px;
    margin-bottom: 14px;

    @media screen and (max-width: 800px) {
      width: 345px;
      height: 236px;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__card-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: $link-text;
    margin-bottom: 5px;

    @media screen and (max-width: 800px) {
      font-size: 18px;
    }
  }

  &__card-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 140.52%;
    color: $black-gray;
    margin-bottom: 5px;
  }

  &__card-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: $dark-blue;
  }
}
