.dropdown {
  display: flex;
  align-items: center;
  gap: 25px;
  
  @media screen and (max-width: 800px) {
   width: 100%;
  }

  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $link-text;
  }

  &__select-mobile {
    display: none;
    @media screen and (max-width: 800px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      background: $dropdow-mobile;
      border-radius: 4px;
      padding: 9px 12px;
    }
  }
  &__select-mobile-wrapper {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  &__select-mobile-text {
    color: $dropdow-mobile-text;
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
  }

  &__select {
    background: $white;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: $select-text;
    padding: 10px 47px 12px 12px;
    position: relative;
    cursor: pointer;
    border: 1px solid $border;

    @media screen and (max-width: 800px) {
      display: none;
    }

    &.active {
      background: $selected-hover;

      .dropdown__select-list {
        display: block;
      }

      .dropdown__select-arrow {
        transform: rotate(0);
      }
    }

    &.error {
      border: 1px solid rgba(255, 0, 0, 0.35);
      background: $input-error;

      .dropdown__select-text-error {
        display: block;
      }
    }
  }

  &__select-value {
    font-size: 14px;
    line-height: 146.023%;
    color: $black-gray;
  }

  &__select-list {
    position: absolute;
    left: 0;
    top: 45px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid $border;
    background: var(--light-mono-0, $white);
    box-shadow: 0px 2px 24px 0px rgba(11, 18, 24, 0.08);
    display: none;
  }

  &__select-item {
    padding: 8px 12px;
    position: relative;

    &:hover {
      background: $selected-hover;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 12px;
      content: "";
      display: block;
      width: calc(100% - 24px);
      height: 1px;
      background: $selected-hover;
    }
  }

  &__select-item-value {
    font-size: 14px;
    line-height: 146.023%;
    color: $black-gray;
  }

  &__select-arrow {
    position: absolute;
    right: 10px;
    top: 10px;
    transform: rotate(180deg);
  }

  &__select-text-error {
    color: $red;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    top: 44px;
    left: 0;
    display: none;
  }
}
