.footer__mobile {
  display: none;
  @media screen and (max-width: 375px) {
    display: block;
  }

  .footer__policy {
    @media screen and (max-width: 375px) {
      justify-content: space-between;
      font-size: 12px;
      line-height: 15px;
      padding: 10px 15px 15px 15px;
    }
  }

  .footer__line {
    @media screen and (max-width: 375px) {
      margin-bottom: 10px;
    }
  }

  .footer__content {
    @media screen and (max-width: 375px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      flex-direction: row;
      max-width: 375px;
      flex-wrap: wrap;
      padding: 22px 15px 18px 15px;
    }

    &-item {
      @media screen and (max-width: 375px) {
        gap: 2px;
      }
    }

    &-item-logo {
      @media screen and (max-width: 375px) {
        width: 124px;
        height: 37px;

      }
    }

    &-item-img {
      @media screen and (max-width: 375px) {
        width: 83px;
        height: 28px;
        margin-top: 12px;
      }
    }

  }
}
