.footer {
  height: 211px;
  background: #eceef7;
  padding: 38px 103px 26px 65px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 43px;
}

.footer__content-item {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.footer__content-item span {
  line-height: 20px;
  color: #3b4559;
}

.footer__line {
  width: 1920px;
  margin-left: -82px;
  margin-bottom: 20px;
  opacity: 0.15;
  border: 1px solid #3b4559;
}

.footer__policy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__policy-item {
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #3b4559;
  opacity: 0.7;
}
