.header {
  display: block;
  background-image: url("../images/header.svg");
  background-repeat: no-repeat;

  @media screen and (max-width: 375px) {
  }

  &__logo {
    img {
      @media screen and (max-width: 375px) {
        width: 132px;
        height: 40px;
      }
    }
  }

  &__content {
    padding: 0 65px 0 65px;
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 375px) {
      padding: 0 15px;
      min-height: 50px;
    }
  }

  &__phone-link {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;

    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  &__mail-link {
    text-decoration-line: underline;
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  &__search {
    max-width: 508px;
    width: 100%;
    @media screen and (max-width: 375px) {
      display: none;
    }
  }

  &__search-input {
    border: none;
    background: #ffffff;
    border-radius: 4px;
    width: 100%;
    padding: 12px 0 12px 12px;
    font-size: 14px;
    line-height: 146.02%;
    color: #5d3097;
    font-weight: 400;
  }

  &__registration-link {
    font-size: 18px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 500;
    @media screen and (max-width: 375px) {
      display: none;
    }
  }
}