.header {
  display: block;
  background-image: url("../images/header.svg");
  background-repeat: no-repeat;

  &__logo {
    img {
      @media screen and (max-width: 800px) {
        width: 132px;
        height: 40px;
      }
    }
  }

  &__content {
    padding: 0 65px;
    width: 100%;
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 800px) {
      padding: 0 15px;
      min-height: 50px;
    }
  }

  &__phone-link {
    font-size: 18px;
    line-height: 22px;
    color: $white;
    font-weight: 500;

    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  &__mail-link {
    text-decoration-line: underline;
    font-size: 18px;
    line-height: 22px;
    color: $white;
    font-weight: 500;
    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  &__search {
    max-width: 508px;
    position: relative;
    width: 100%;

    input::placeholder {
      color: #5d3097;
    }

    @media screen and (max-width: 1500px) {
      display: none;
    }
  }

  &__search-image {
    position: absolute;
    top: 9px;
    right: 9px;
    cursor: pointer;
  }

  &__search-input {
    border: none;
    background: $white;
    border-radius: 4px;
    width: 100%;
    padding: 12px 40px 12px 12px;
    font-size: 14px;
    line-height: 146.02%;
    color: $input-placeholde;
    font-weight: 400;

    &::placeholder {
      color: $input-placeholde !important;
    }
  }

  &__registration-link {
    font-size: 18px;
    line-height: 22px;
    color: $white;
    font-weight: 500;

    @media screen and (max-width: 1500px) {
      display: none;
    }
  }
}

.header__mobile-menu {
  display: none;

  @media screen and (max-width: 1500px) {
    display: flex;
    gap: 7px;
    align-items: center;

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 146.02%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: $white;
    }
  }
}

.role-page {
  display: flex;
  justify-content: space-between;

  .header__content {
    margin: 0 auto;
    //max-width: 1558px;
    padding: 0 40px 0 38px;

    @media screen and (max-width: 1800px) {
      padding: 0 15px;
    }
  }

  .header__logo {
    display: none;

    @media screen and (max-width: 1800px) {
      display: block !important;
    }
  }

  .header__phone,
  .header__mail,
  .header__search,
  .header__account {
    @media screen and (max-width: 1800px) {
      display: none !important;
    }
  }

  .header__mobile-menu {
    display: none;

    @media screen and (max-width: 1800px) {
      display: flex;
      gap: 7px;
      align-items: center;

      span {
        font-weight: 600;
        font-size: 14px;
        line-height: 146.02%;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $white;
      }
    }
  }

  .header__search {
    max-width: 367px;
  }

  .header__account {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 37px;
  }

  .header__account-svg {
    display: flex;
    gap: 25px;

    svg {
      cursor: pointer;
    }
  }

  .header__account-person {
    display: flex;
    align-items: center;
    gap: 15px;

    svg {
      cursor: pointer;
    }

    @media screen and (max-width: 1800px) {
      display: none;
    }
  }

  .header__account-person-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: $white;

    @media screen and (max-width: 1800px) {
      display: none;
    }
  }
}
