@import 'fonts.scss';
@import 'variables.scss';
@import 'normalize.scss';

@import 'header.scss';
@import 'footer.scss';

@import 'tabs.scss';
@import 'buttons.scss';
@import 'input.scss';
@import 'table.scss';
@import 'pagination.scss';
@import 'side-menu.scss';
@import 'side-list-bank.scss';
@import 'dropdown.scss';
@import 'breadcrumb.scss';
@import 'status-card.scss';

@import 'auth-form.scss';
@import 'portal-description.scss';
@import 'restore-password-form.scss';
@import 'set-new-password.scss';
@import 'registration.scss';
@import 'content-cards.scss';

@import './moderator-style/moderator-main.scss';
@import './moderator-style/accelerators.scss';
@import './moderator-style/accelerators-create.scss';
@import './moderator-style/accelerators-item.scss';
@import './moderator-style/accelerators-case-name.scss';
@import './moderator-style/request-case.scss';
@import './moderator-style/request-team.scss';
@import './moderator-style/case-success.scss';
@import './moderator-style/bank-project.scss';
@import './moderator-style/personal-data.scss';


body, header, footer {
  font-family: "Montserrat";
}


.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 375px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.page-content {
  //height: 784px;
  flex: 2;
  @media screen and (max-width: 375px) {
    height: auto;
  }
}

.set-new-password-form h1 {
  font-size: 34px;
  line-height: 41px;
}


a {
  color: $link-text;
}





