@import 'fonts';
@import 'variables';
@import 'normalize';
@import 'footer.scss';
@import 'tabs.scss';
@import 'header';
@import 'buttons.scss';
@import 'auth-form.scss';
@import 'portal-description.scss';
@import 'restore-password-form.scss';
@import 'set-new-password.scss';
@import 'content-cards.scss';
@import 'pagination.scss';
@import 'side-menu.scss';
@import 'dropdown.scss';
@import 'breadcrumb.scss';
@import './moderator-style/moderator-main.scss';
@import './moderator-style/accelerators.scss';


body, header, footer {
  font-family: "Montserrat";
}


.page {
  height: calc(100% - 296px);
  @media screen and (max-width: 375px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}


.set-new-password-form h1 {
  font-size: 34px;
  line-height: 41px;
}


a {
  color: $link-text;
}





