.input {
  padding: 12px 40px 12px 12px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 146.02%;
  color: $black-gray;
  background: $white;
  border: 1px solid $border;
  border-radius: 4px;

  &::placeholder {
    color: $black-gray;
  }

  &:focus {
    border: 1px solid rgba(11, 22, 204, 0.5);
  }

  &.error {
    border: 1px solid rgba(255, 0, 0, 0.35);
    background: $input-error;
  }
}

.input-error-message {
  color: $red;
  font-size: 12px;
  font-weight: 500;
  display: none;

  &.active {
    display: block;
  }
}
