.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /*Цвет затемнения фона*/
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;


  .accelerators-popup {
    max-width: 1186px;
    width: 100%;
    height: 514px;
    background: $white;
    border-radius: 8px;
    padding: 30px;
    position: relative;
    overflow-y: auto;

    .table {

      max-width: 1126px;
      width: 100%;
      max-height: 402px;

      &__title {
        .title-wrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          gap: 12px;
        }

        justify-content: flex-start;

        &-name {
          max-width: 203px;
          width: 100%;
        }

        &-role {
          max-width: 210px;
          width: 100%;
        }

        &-date {
          max-width: 200px;
          width: 100%;
        }

        &-empty-item {
          max-width: 265px;
          width: 100%;
        }
      }

      &__body {
        max-height: 352px;
        overflow-y: scroll;

        &::-webkit-scrollbar {
          width: 6px; /* ширина scrollbar */
        }

        &::-webkit-scrollbar-track {
          background: rgba(217, 217, 217, 0.3);
        }

        &::-webkit-scrollbar-thumb {
          background-color: #D9D9D9;
          border-radius: 14px;
        }

        .link-wrapper {
          display: flex;
        }

        &-item {
          justify-content: flex-start;

          &-name {
            max-width: 203px;
            width: 100%;

            p {
              font-weight: 500;
              font-size: 15px;
              line-height: 18px;
              color: $link-text;
            }
          }

          &-role {
            max-width: 210px;
            width: 100%;

            p {
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              display: flex;
              color: $black-gray;
            }
          }

          &-date {
            max-width: 200px;
            width: 100%;

            p {
              font-weight: 400;
              font-size: 15px;
              line-height: 18px;
              color: $black-gray;
            }
          }

          &-owner {
            max-width: 265px;
            width: 100%;

            a {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 8px;

              p {
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: $blue-link;
              }
            }

          }

          &-delete-team {
            a {
              display: flex;
              align-items: center;
              flex-direction: row;
              gap: 8px;

              p {
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                color: $blue-link;
              }
            }

          }
        }
      }
    }

    .popup__close {
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
    }
  }
}

.active {
  display: flex;
}