.registration-form {
  background: #1e44bb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registration-form__window {
  background: #f7f7f7;
  border-radius: 5px;
  width: 583px;
  /*height: 462px;*/
}
