.restore-password-form {
  display: flex;
  flex-direction: column;
  background: #f3f4f8;
  border-radius: 5px;
  max-width: 583px;
  /*max-height: 415px;*/
  padding: 40px 35px 50px 35px;
}

.restore-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.restore-password-form h1 {
  margin-bottom: 15px;
}

.restore-password-form p {
  font-weight: 400;
  font-size: 14px;
  line-height: 133.52%;
  color: #323232;
  margin-bottom: 27px;
}

.restore-password-form span a {
  font-weight: 500;
  font-size: 16px;
  line-height: 146.02%;
  text-decoration-line: underline;
  color: #4f55bd;
}

.restore-password-form input {
  padding: 16px 0 16px 16px;
  border: 1px solid #cbd2db;
  border-radius: 4px;
}

.button-restore {
  width: 265px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
