.table {
  border: 1px solid $border;
  border-radius: 4px;

  &-wrapper {
    overflow: auto;

    @media screen and (min-width: 1200px) and (max-width: 1800px) {
      border-right: 1px solid $border;
      border-left: 1px solid $border;
    }
  }

  @media screen and (max-width: 1200px) {
    border: none;
  }


  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: $card-tags-bg;
    border-radius: 4px 4px 0 0;
    padding: 12px 0 12px 15px;

    .title-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      gap: 12px;
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 11px;
      font-weight: 500;
      font-size: 12px;
      line-height: 106.9%;
      letter-spacing: 0.025em;
      text-transform: uppercase;
      color: $table-title-item;
      opacity: 0.8;
    }
  }

  &__body {

    @media screen and (max-width: 1200px) {
      margin-bottom: 30px;
    }

    .link-wrapper {
      display: flex;

      @media screen and (max-width: 1200px) {
        padding: 0 10px;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 10px 12px 15px;
      border-bottom: 1px solid $border;

      @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding: 0;
      }
    }
  }

  &__body-item-title {
    @media screen and (max-width: 1200px) {
      width: 100%;
      padding-bottom: 12px;
    }
  }

  &__body-item-title-text {
    @media screen and (max-width: 1200px) {
      padding: 10px;
      font-size: 16px;
      font-weight: 600;
      background: $card-tags-bg;
    }
  }

  &__body-item-title-text-hidden,
  &__body-item-files-text-hidden,
  &__body-item-owner-text-hidden,
  &__body-item-type-text-hidden,
  &__body-item-case-description-hidden,
  &__body-item-case-title-hidden,
  &__body-item-username-hidden,
  {
    display: none !important;

    @media screen and (max-width: 1200px) {
      display: block !important;
      font-size: 14px !important;
      margin-bottom: 5px !important;
      color: $select-text !important;
    }
  }

  &__body-item-title-text-hidden {
    padding: 10px 10px 0;
  }

  &__body-item-title-span {
    @media screen and (max-width: 1200px) {
      font-size: 14px !important;
      color: $black-gray !important;
      display: block;
      padding: 0 10px;
    }
  }

  &__sort-svg {
    width: 12px !important;
    height: 12px !important;
  }

  &__pagination {
    background: $card-tags-bg;
    border-radius: 0 0 4px 4px;
    padding: 9px 0 10px 15px;

    @media screen and (max-width: 1200px) {
      display: none;
    }

    .pagination__wrapper {
      margin: 0;

      .pagination__link {
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: $blue-link;
        background: none;
        border: none;
        width: auto;
        height: auto;

        &:hover {
          color: $hover-input;
        }
      }

      .pagination__link--active {
        color: $link-text;
      }
    }
  }
}
