.tabs {
  &__items {
    display: flex;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #2c3637;
  }

  &__item {
    flex: 0 1 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
  }
}