.role-page {
  .student-team-request {
    padding-top: 0;

    @media screen and (max-width: 1200px) {
      max-width: 100%;
    }

    .breadcrumb {
      padding-left: 0;
      margin-bottom: 10px;
    }

    .table-wrapper {
      @media screen and (max-width: 1200px) {
        overflow: hidden;
      }
    }

    .table {
      max-width: 1480px;
      min-width: 1480px;
      width: 100%;

      @media screen and (max-width: 1200px) {
        min-width: 722px;
      }
      @media screen and (max-width: 767px) {
        min-width: 290px;
      }

      &__title {
        @media screen and (max-width: 1200px) {
          display: none;
        }
      }

      &__body {
        &-item {
          @media screen and (max-width: 1200px) {
            border: 1px solid $border;
            border-radius: 4px;
            position: relative;
          }

          &:not(:last-child) {
            @media screen and (max-width: 1200px) {
              margin-bottom: 21px;
            }
          }

          &-accelerator-title {

            @media screen and (max-width: 1200px) {
              max-width: 100%;
            }

            &-hidden {
              display: none;

              @media screen and (max-width: 1200px) {
                display: block;
                font-size: 14px !important;
                color: $select-text !important;
                margin-bottom: 5px;
                margin-top: 12px;
                margin-left: 10px;
              }
            }
          }

          &-actions {
            position: relative;

            @media screen and (max-width: 1200px) {
              position: absolute;
              top: 9px;
              right: 9px;
            }

            .status-action {
              background: $card-tags-bg;
              width: 24px;
              height: 24px;
              @media screen and (max-width: 1200px){
                background: $actions-bg-mobile;
              }
            }

            .actions-menu {
              position: absolute;
              top: 25px;
              right: 0;
            }
          }
        }
      }
    }
  }
}