.role-page {
  .administrator-content-success-case {
    .table {
      max-width: 1480px;

      &__title {
        justify-content: flex-start;

        &-accelerator-title {
          max-width: 248px;
          width: 100%;
        }

        &-case-title {
          max-width: 185px;
          width: 100%;
        }

        &-case-description {
          max-width: 325px;
          width: 100%;
        }

        &-files {
          max-width: 182px;
          width: 100%;
        }

        &-participate {
          max-width: 144px;
          width: 100%;
        }

        &-indication {
          max-width: 214px;
          width: 100%;
        }
      }

      &__body {
        &-item {
          justify-content: flex-start;
          align-items: flex-start;

          a, p {
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: $link-text;
          }

          &-accelerator-title {
            max-width: 248px;
            width: 100%;

            p {
              font-weight: 500;
            }
          }

          &-case-title {
            max-width: 185px;
            width: 100%;
          }

          &-case-description {
            max-width: 325px;
            width: 100%;

            p {
              max-width: 284px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          &-files {
            max-width: 182px;
            width: 100%;

            a {
              color: $blue-link;
            }
          }

          &-participate {
            max-width: 144px;
            width: 100%;
          }

          &-indication {
            max-width: 214px;
            width: 100%;
          }

          &-get-case {
            a {
              display: flex;
              gap: 9px;
              flex-direction: row;
              align-items: center;

              p {
                color: $blue-link;
              }
            }
          }
        }
      }
    }
  }
}