.role-page {
  .administrator-content-roles-create {
    padding-top: 0;

    .breadcrumb {
      padding-left: 0;
      margin-bottom: 10px;

    }

    .form-create-roles {
      max-width: 480px;
      width: 100%;

      &__add-role {
        &-inputs-label {
          color: $select-text;
          font-size: 13px;
          line-height: 146.023%;
        }

        &-inputs-item {
          margin-bottom: 11px;
        }

        &-textarea {
          max-width: 480px;
          width: 100%;
          height: 176px;
          resize: none;
          border-radius: 4px;
          border: 1px solid $border;
          background: $white;
          padding: 12px 24px 0 12px;
        }

        &-textarea::placeholder {
          color: $black-gray;
          font-size: 14px;
          line-height: 146.023%;
        }

        .designated-users {
          border-radius: 3px 3px 0 0;
          background: $card-tags-bg;
          border: 1px solid $border;
          margin-bottom: 14px;

          &__title {
            padding: 18px 0 18px 14px;

            p {
              color: $table-title-item;
              font-size: 12px;
              font-weight: 500;
              line-height: 106.9%;
              letter-spacing: 0.3px;
              text-transform: uppercase;
            }
          }

          &__body {
            padding: 11px 0 18px 14px;
            background: $white;

            .user-items {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 8px;

              .user-item {
                max-width: 160px;
                padding: 5px 12px;
                width: 100%;
                border-radius: 4px;
                background: $add-role-user-bg;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;

                p {
                  color: $add-role-user-text;
                  font-size: 14px;
                  line-height: 146.023%;
                }

                svg {
                  cursor: pointer;
                }
              }
            }
          }
        }

        .add-user-actions {
          display: inline-flex;
          align-items: center;
          justify-content: flex-start;
          gap: 5px;
          cursor: pointer;
          margin-bottom: 48px;
        }
      }

      .user-rights {

        &__title {
          color: $link-text;
          font-size: 22px;
          font-weight: 700;
          margin-bottom: 18px;
        }

        &__checkbox {
          margin-bottom: 30px;

          &-item {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            input {
              min-width: 18px;
              min-height: 18px;
            }

            label {
              color: $black-gray;
              font-size: 14px;
              line-height: 146.023%;
            }
          }
        }

        &__checkbox
        .user-rights__checkbox-item:not(:last-child) {
          margin-bottom: 10px;
        }

      }

      .create-roles__links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 44px;

        & a:nth-child(1) {
          padding: 15px 30px;
        }

        & a:nth-child(2) {
          color: $black-gray;
          font-size: 16px;
          font-weight: 500;
          line-height: 146.023%;
          text-decoration: none;
        }
      }
    }

    .popup-overlay {
      .popup {
        max-width: 614px;
        height: 698px;
        overflow-y: hidden;

        @media screen and (max-width: 426px) {
          width: calc(100% - 30px);
          padding: 12px;
          margin: 0 20px;
        }

        &__search {
          position: relative;
          margin-bottom: 20px;

          &-img {
            position: absolute;
            top: 9px;
            right: 9px;
            cursor: pointer;
          }
        }

        &__users {
          &-title {
            border-radius: 4px 4px 0px 0px;
            background: $card-tags-bg;
            padding: 18px 0 18px 15px;

            .title-wrapper {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
              cursor: pointer;
              gap: 8px;
            }

            p {
              color: $table-title-item;
              font-size: 12px;
              font-weight: 500;
              line-height: 106.9%;
              letter-spacing: 0.3px;
              text-transform: uppercase;
            }


          }

          &-list {
            border-radius: 4px;
            border-right: 1px solid $border;
            border-bottom: 1px solid $border;
            border-left: 1px solid $border;
            overflow-y: scroll;
            max-height: 396px;

            &::-webkit-scrollbar {
              width: 6px; /* ширина scrollbar */
            }

            &::-webkit-scrollbar-track {
              background: rgba(217, 217, 217, 0.3);
            }

            &::-webkit-scrollbar-thumb {
              background-color: #D9D9D9;
              border-radius: 14px;
            }

            &-item {
              border-bottom: 1px solid $border;
              padding: 13px 15px;
              cursor: pointer;
              display: flex;
              justify-content: space-between;
              align-items: center;

              p {
                color: $link-text;
                font-size: 15px;
                font-weight: 500;
              }

              input {
                min-width: 18px;
                min-height: 18px;
              }
            }

            &-item-label {
              cursor: pointer;
            }
          }
        }

        &__body {
          margin-bottom: 20px;
        }

        .create-roles__links {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 44px;

          @media screen and (max-width: 426px) {
            gap: 26px;
          }

          .registration__form-links-back {
            color: $black-gray;
            font-size: 16px;
            line-height: 146.023%;
            text-decoration: none;

            @media screen and (max-width: 426px) {

            }

          }

          .button {
            width: 212px;
            height: 56px;
            @media screen and (max-width: 426px) {
              width: 146px;
              height: 44px;
            }

          }
        }
      }
    }
  }
}